.c-article {
  header {
    display: flex;
    margin-top: -4em;
  }

  &__title {
    font-size: 2rem;
    & a {
      color: $color-text;
      &:hover {
        color: $link-hover;
      }
    }
  }

  &__meta {
    font-size: 2rem;
    line-height: 1;
    padding-right: 1em;
    width: 7em;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__summary {
    font-size: 1.4rem;
    color: #999;
    line-height: 1.57;
    & p {
      margin: 0;
    }
  }

  &__btn {
    display: inline-block;
    padding-bottom: 4px;
    font-size: 1.6rem;
    &::after {
      content: '';
      display: inline-block;
      margin-left: 3px;
      width: 5px;
      height: 5px;
      border: solid currentColor;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
    }
  }
}

@media only screen and (max-width: 600px) {
    .c-article {
        &__meta {
            display: none;
        }
    }
}
